.Normal_text {font-family:'Halvar Mittel';font-weight:normal;font-style:normal;font-size:16.55pt;text-decoration:none;text-transform: none;color:#091136;letter-spacing:0em;}
.Heading_1 {font-family:'Arial Black';font-weight:900;font-style:normal;font-size:23.5pt;text-decoration:none;text-transform: none;color:#FFFFFF;letter-spacing:0em;}
